<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sns.web.member.memberMapper">

	<!-- 회원 등록 -->
	<insert id="insertMember" parameterType="com.sns.web.member.model.MemberVO">

		INSERT INTO MEMBER (m_no, m_id, m_pw, m_email, m_birth, m_gender, m_phone, m_name)
		VALUES (
			MEMBER_MNO_SEQ.NEXTVAL
			, #{m_id}
			, #{m_pw}
			, #{m_email}
			, #{m_birth}
			, #{m_gender}
			, #{m_phone}
			, #{m_name}
		)

	</insert>
	
	<!-- 회원 아이디 가져오기 -->
	<select id="getMemberInfo" resultType="com.sns.web.member.model.MemberVO"> 
		SELECT 
			*
		FROM 
			MEMBER 
		WHERE 
			m_id = #{m_id} 
	</select> 
	
	<!-- 회원 목록 -->
	<select id="getMemeberList" resultType="com.sns.web.member.model.MemberVO"> 
		SELECT 
			*
		FROM 
			MEMBER
	</select> 
	
	<!-- 아이디별로 회원 정보 등록 -->
	<update id="updateMember" parameterType="com.sns.web.member.model.MemberVO"> 
		UPDATE 
			MEMBER
		SET 
			m_name = #{m_name} , m_pw = #{m_pw} , m_email = #{m_email} , m_phone = #{m_phone} 
		WHERE 
			m_id = #{m_id} 
	</update> 
	
	<!-- 회원 아이디 삭제 -->
	<delete id="deleteMember" parameterType="int"> 
		DELETE 
			MEMBER
		 WHERE m_id = #{m_id} 
	</delete>

	<!-- 아이디 중복 검사 -->
	<select id="checkId" parameterType="String" resultType="int">
		SELECT
			COUNT(*)
		FROM
			MEMBER
		WHERE
			m_id = #{m_id} 
	</select>

	<!-- 이메일 중복 검사 -->
	<select id="checkEmail" parameterType="String" resultType="int">
		SELECT
			COUNT(*)
		FROM
			MEMBER
		WHERE
			m_email = #{m_email} 
	</select>

	<!-- 인터셉터 후 세션에 등록 -->
    <select id="loginCheck" resultType="com.sns.web.member.model.MemberVO">
    	SELECT
    		*
    	FROM
    		MEMBER
    	WHERE
			m_id = #{m_id} AND m_pw = #{m_pw}
    </select>
   
   <!-- 임시 비밀번호 변경 -->
   	<update id="findPW" parameterType ="java.util.HashMap">
   		UPDATE 
			MEMBER
		SET 
			m_pw = #{m_pw} 
		WHERE 
			m_id = #{m_id} AND m_email = #{m_email}
   	</update>
    
    

</mapper>